<div class="menu flex justify-center">
  <div class="content-width flex justify-between align-center">
    <div class="flex align-center">
      <a mat-button routerLink="/todos">Todos</a>
      <a mat-button routerLink="/settings">Settings</a>
    </div>

    <div class="flex align-center">
      <div
        [style.backgroundImage]="
          'url(https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=f05c14dd4db49f08a789e6449604c490)'
        "
        class="menu__avatar mr-4"
      ></div>
      <span class="body-2">John Doe</span>
    </div>
  </div>
</div>
